/* mobile */
@media (max-width: 750px) {

  @keyframes bgcolor {
      0% {
          background-color: #FCBFD8
      }

      30% {
          background-color: #FCBFD8
      }

      60% {
          background-color: #FE6BA8
      }

      90% {
          background-color: #FD3487
      }

      100% {
          background-color: #D70059
      }
  }

  body {
      -webkit-animation: bgcolor 20s infinite;
      animation: bgcolor 10s infinite;
      -webkit-animation-direction: alternate;
      animation-direction: alternate;
  }

    #mobile {
        display: inline;
        color: #FFB4E1;
    }
    #desktop {
        display: none;
    }
}
