body {
  font-family: 'Cute Font', cursive;
  font-family: 'Squada One', cursive;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Unlock', cursive;
  font-family: 'Ubuntu Mono', monospace;
  text-rendering: optimizeLegibility;
  text-align: center;
}

@keyframes bgcolor {
    0% {
        background-color: #ACD1B0
    }

    30% {
        background-color: #A5E3AC
    }

    60% {
        background-color: #67B184
    }

    90% {
        background-color: #6A9C7E
    }

    100% {
        background-color: #B8E8CB
    }
}

body {
    -webkit-animation: bgcolor 20s infinite;
    animation: bgcolor 10s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

#toc a {
  color: black;
  text-decoration: none;
}

#toc a:hover {
  color: grey
}

h1 {
  font-family: "Press Start 2P";
  font-size: 60px;
  font-style: normal;
  line-height: 10px;
  border: 20px;
  padding: 20px;
}

h2 {
  font-family: "Concert One";
  font-size: 35px;
  font-style: normal;
}

h5 {
  font-family: "Ubuntu Mono";
  font-size: 20px;
  font-style: normal;
}

h6 {
  font-family: "Ubuntu Mono";
  font-size: 20px
  font-style: normal;
}

h7 {
  font-family: "Ubuntu Mono";
  font-size: 15px
  font-style: normal;
}
