body {
  font-family: 'Cute Font', cursive;
  font-family: 'Squada One', cursive;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Concert One', cursive;
  font-family: 'Press Start 2P', cursive;
  font-family: 'Unlock', cursive;
  font-family: 'Ubuntu Mono', monospace;
  text-rendering: optimizeLegibility;
  text-align: center;
  background: green;
}

#toc a {
  color: black;
  text-decoration: none;
}

#toc a:hover {
  color: grey
}
