body {
  background-image: url("../assets/BINDER.PNG");
  background-size: 100%;
  /* background-repeat: repeat-y; */
}

.row {
  display: flex;
}

.column {
  flex: 1%;
  padding: 0px;
}

.column img:hover{
  -webkit-filter: hue-rotate(360deg);
  -webkit-animation: hue 1s infinite;
}
@keyframes hue {
  0% {
   -webkit-filter: hue-rotate(0deg);
  }
  100% {
   -webkit-filter: hue-rotate(360deg);
  }
}

@media (min-width: 800px) {

#TITLE {
  position: absolute;
  top: 1%;
  left: 30%;
  display: block;
}

#MARKER {
  position: absolute;
  top: -.5%;
  left: 70%
}

#PENCIL {
  position: absolute;
  top: -.5%;
  left: 65%
}

#LETTER {
  position: absolute;
  display: block;
  top: 10%;
  left: 15%;
}

#NUMBER {
  position: absolute;
  display: inline-block;
  top: 35%;
  left: 15%;
}

#PUNCTUATION {
  position: absolute;
  display: block;
  top: 48%;
  left: 15%;
}

#TENNISBALL{
  position: absolute;
  display: block;
  top: 70%;
  left: 15%;
}

#EXCITE{
  position: absolute;
  display: block;
  top: 80%;
  left: 15%;
}

#COLOR{
  position: absolute;
  display: block;
  top: 90%;
  left: 10%;
}

#YOU{
  position: absolute;
  display: block;
  top: 105%;
  left: 0%;
}

#stage1 {
    display: inline-block;
    position: relative;
    width: 1000px;
    height: 1600px;
}
#stage2 {
    display: none;
}
}

/* stage2 */
@media (min-width: 100px) and (max-width: 800px) {

    #stage2 {
        display: inline;
    }
    #stage1 {
        display: none;
    }
}
