    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body {
        background: #CD7AA9;
    }
    #desktop {
        display: inline;
        color: #CD7AA9;
    }
    #tablet,
    #mobile,
    #print {
        display: none;
    }
    /* tablet */
    @media (min-width: 670px) and (max-width: 1024px) {
        body {
            background: #CD7AA9;
        }
        #tablet {
            display: inline;
            color: #CD7AA9;
        }
        #desktop,
        #mobile,
        #print {
            display: none;
        }
    }
    /* mobile */
    @media (max-width: 670px) {
        body {
            background: #CD7AA9;
        }
        #mobile {
            display: inline;
            color: #CD7AA9;
        }
        #desktop,
        #tablet,
        #print {
            display: none;
        }
    }
    /* print */
    @media print {
        body {
            background: #CD7AA9;
        }
        #print {
            display: inline;
            color: #CD7AA9;
        }
        #desktop,
        #tablet,
        #mobile {
            display: none;
        }
    }
