    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    body {
        background: #CD7AA9;
    }
    #stage1 {
        display: inline;
        color: #CD7AA9;
    }
    #stage2,
    #stage3,
    #stage4,
    #stage5 {
        display: none;
    }
    /* stage2 */
    @media (min-width: 1000px) and (max-width: 1400px) {
        body {
            background: #CD7AA9;
        }
        #stage2 {
            display: inline;
            color: #CD7AA9;
        }
        #stage1,
        #stage3,
        #stage4,
        #stage5 {
            display: none;
        }
    }
    /* stage3 */
    @media (min-width: 800px) and (max-width: 1000px) {
        body {
            background: #CD7AA9;
        }
        #stage3 {
            display: inline;
            color: #CD7AA9;
        }
        #stage1,
        #stage2,
        #stage4,
        #stage5 {
            display: none;
        }
    }
    /* stage4 */
    @media (min-width: 700px) and (max-width: 800px) {
        body {
            background: #CD7AA9;
        }
        #stage4 {
            display: inline;
            color: #CD7AA9;
        }
        #stage1,
        #stage2,
        #stage3,
        #stage5 {
            display: none;
        }
    }
      /* stage5 */
      @media (max-width: 700px) {
          body {
              background: #CD7AA9;
          }
          #stage5 {
              display: inline;
              color: #CD7AA9;
          }
          #stage1,
          #stage2,
          #stage3,
          #stage4 {
              display: none;
          }
      }
    }
