
    * {
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;
    }
    body {
      background: #DDD249;
      font-size: 100px;
    }
    #question{
      font-family: "Fredoka One", cursive;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      color: #FFFBCD;
      width: 100vw;
      height: 100vh;
    }
    #answer {
      display: none;
      font-family: "Fredoka One", cursive;

    }
    /* hidden message */
    @media (max-width: 1024px) {
      body {
       background: #7BBCD6;
      }
      #answer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        color: #FFD3EC;
        width: 100vw;
        height: 100vh;
      }
      img {
        position: center center;
        size: 300px;
      }
      #question {
        display: none;

      }
    }
